//Colours
$dark-grey:#333333;
$grey: #666;
$medium-blue:#669adb;
$dark-blue: #364051;
$off-white: #f7f7f7;
$medium-red:#c14242;

// Spacing
$xs-size: 0.6rem;
$s-size:1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//Font Size

$font-large: 1.7rem;
$font-small: 1.4rem,

